header {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    margin: 0 auto;
    max-width: 1140px;
    height: 90px;
    position: relative;
    
    .touch-menu {
        font-size: 30px;
        color: $font-color;
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 25%;
        display: none;
    }
    
    nav {
        flex-basis: 51.5%;
    }
    
    ul {
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        list-style: none;
        
        
        li:first-child {
            padding-left: 35px;
        }
        
        li {
            padding-left: 25px;
            text-align: center;
           
            a {
                text-decoration: none;
                color: $font-color;
                padding: 10px;
                font-family: 'RobotoBold', 'Open Sans', sans-serif;
                text-transform: uppercase;
                font-size: 14px;
            }
            
            form {
                position: relative;
            }
            
            input[type=search] {
                height: 15px;
                width: 16px;
                padding: 5px 10px;
                box-sizing: content-box;
                outline: none;
                border: 1px solid #fff;
                border-radius: 10px;
                color: $font-color;
                font-size: 14px;
                @include appearance(textfield);
                cursor: pointer;
                transition: 1s width;
            }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration { display: none; }
            
            input[type=search]:hover {
                border-color: $font-color;
            }
            
            input[type=submit] {
                color: $font-color;
                background-color: #fff;
                border: none;
                position: absolute;
                top: 4px;
                right: 5px;
                font-size: 14px;
                outline: none;
                display: block;
                cursor: pointer;
            }
        }
        
        li:not(:last-child)::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 1px;
            background: $font-color;
            margin-left: -20px;
            display: none;
        }
        
        li:hover::before { display: inline-block; }   
    }
}

@media screen and (max-width: 768px) {
    header {
        
        .logo {
            padding-left: 10px;
        }
        
        height: 60px;
        .touch-menu {
            display: block;
        }
    
        ul {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            z-index: 99;
            background-color: #fff;
            width: 100%;
            
            li {
                text-align: left;
                padding-left: 0;
                border-bottom: 1px solid $font-color;
                border-left: 5px solid #fff;
                
                input[type=search] {
                    display: inline-block;
                }
                
                input[type=submit] {
                    position: static;
                    display: inline-block;
                    margin-left: -30px;
                }
                
                a {
                    display: block;
                    padding: 15px 10px;
                }
            }
            
            li:first-child {
                padding-left: 0;
            }
            
            li:last-child {
                padding: 7px 0;
            }
            
            li:hover {
                border-color: $font-color;
            }
            li:not(:last-child)::before {
                display: none;
            }
        }    
    }
}
