@media screen and (max-width:1150px){
    body{
        font-size: 11px;
    }
    
    .container{
        margin: 0 1em;
    }
    
    .heading-about{
        min-width: 550px;;
    }
    
    .visiable-header{
        display: none;
    }
    
    .menu-link{
        display: block;
        z-index: 100;
    }
    
    .lock {
        overflow: hidden;
    }
    
    .shadow{
        background: rgba(182, 184, 178, 0.5);
        position: absolute;
        overflow: auto;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: none;
    }
    
    #menu1 .navigation{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 7.5px;
        right: -1500px;
        width: 90vw;
        justify-content: flex-start;
        z-index: 99;
    }

    #menu1 .navigation-item{
        background-color: #ffffff;
        display: block;
        padding: 30px;
        border-bottom: 1px solid #777777;
    }
    
    #menu1 .navigation-item:last-child{
        border: none;
    }
    
    #menu1 .navigation-search{
        margin-left: 10px;
    }
    
    #menu1 .navigation-link{
        font-size: 2em;
    }
    
    .search-field {
        font-size: 2em;
    }
    
    .footer-social{
        width: 75%;
    }
}

@media screen and (max-width:1112px){
    .teamCards{
        justify-content: space-around;
    }
    
    .card{
        margin-bottom: 40px;
    }
    
    .card:last-child{
        margin-bottom: 0;
    }
}

@media screen and (max-width:1108px){ 
    .story-image{
        display: none;
    }
    
    .story{
        justify-content: center;    
    }
    
    .story-item {
        flex-basis: 80%;
    }
    
    h1{
        margin-bottom: 24px;
    }
    
    .heading-image{
        display: none;
    }
    
    .heading{
        height: 200px;
    }
}


@media screen and (max-width:675px){
    h1{
        font-size: 3.5em;
    }

    .heading-about{
        min-width: 400px;
    }
    
    .footer-social{
        width: 90%;
    }
}

@media screen and (max-width:595px){
    h1{
        font-size: 2.4em;
    }
}
