<!Doctype HTML>
<html>
<head>		
	<title>LIAN</title>
	<link rel='stylesheet' href='../stylesheets/css/font-awesome.min.css'>
	<link rel='stylesheet' href='../stylesheets/portfolioLian.css'>
	<link rel='stylesheet' href='../stylesheets/portfolioLianMedia.css'>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	
</head>
<body>
        <div class='header'>
            <div class='header-container container'>
                <a href='../index.html' class='logo-link'><img src='../images/logo.png' alt='LIAN' class='logo'></a>
                   <div id='menu1' class='header-navigation'>
                    <a href='#' class='menu-link'><i class="fa fa-bars"></i></a>
                    <ul class='navigation visiable-header'>
                        <li class='navigation-item'><a href='../index.html' class='navigation-link'>HOME</a></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>ABOUT</a></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>PORTFOLIO</a></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>BLOG</a></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>CONTACT</a></li>
                        <li class='navigation-item'>
                            <form class='navigation-search'>
                                <input type='search' placeholder='&#xF002;' style='font-family:Open Sans, FontAwesome' class='search-field'>
                            </form>
                        </li>
                    </ul>
                    <div class="shadow"></div>
                </div>  
            </div>
        </div>
        
        <div class='heading'>
            <div class='heading-container container'>
                <div class='heading-about'>
                   <h1>LATEST PROJECTS</h1>
                   <h3>WE DELIVER QUALITY</h3>
                </div>
                <img src='../images/portfolioHeading.png' class='heading-image'>
            </div>
        </div>
        
        <div class='content'>
            <div class='content-container container'>
                <div id='menu'>
                    <ul class='navigation'>
                        <li class='navigation-item'><a href='' class='navigation-link'>ALL</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>LOGO</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>MOBILE APP</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>WORDPRESS</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>WEB DESIGN</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>UI/IX</a></li>
                        <li class='navigation-item'><div class='navigation-separator'></div></li>
                        <li class='navigation-item'><a href='' class='navigation-link'>BRANDING</a></li>
                    </ul>
                </div>
                <div id='portfolio'>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_01.png' alt='Image 01'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_02.png' alt='Image 02'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_03.png' alt='Image 03'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_04.png' alt='Image 04'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_05.png' alt='Image 05'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_06.png' alt='Image 06'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_07.png' alt='Image 07'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_08.png' alt='Image 08'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_09.png' alt='Image 09'></div>
                    <div class='fillingEmptySpace'></div>
                    <div class='portfolio-image'><img class='image' src='../images/portfolio_10.png' alt='Image 10'></div>
                    <div class='fillingEmptySpace'></div>
                    <div class='preview'>
                        <div class='preview-content'>
                            <div class='arrow arrow-prev'>&lt;</div>
                                <img src='' class='preview-image'>
                            <div class='arrow arrow-next'>&gt;</div>			
                        </div>
			        </div>
                </div>
            </div>
        </div>
        
        <div class='footer'>
            <div class='footer-logo'>
                <a href='../index.html'><img src='../images/logo.png' alt='LIAN'></a>
            </div>
            <hr noshade>
	        <div class='footer-social'>
                <a href='https://www.facebook.com/' target='_blank'><i class="fa fa-facebook"></i></a>
                <a href='https://www.youtube.com' target='_blank'><i class="fa fa-youtube-play"></i></a>
	            <a href='https://twitter.com' target='_blank'><i class="fa fa-twitter"></i></a>
	            <a href='https://www.linkedin.com' target='_blank'><i class="fa fa-linkedin"></i></a>
	            <a href='https://dribbble.com' target='_blank'><i class="fa fa-dribbble"></i></a>
	            <a href='https://pinterest.com' target='_blank'><i class="fa fa-pinterest-p"></i></a>
	            <a href='https://www.instagram.com' target='_blank'><i class="fa fa-instagram"></i></a>
	        </div>
            <hr noshade>
            <div class='footer-sign'>
                <p>&#169 2016 <span class=bold>MULTIX THEME</span> BY THEMEFORCES. ALL RIGHTS RESERVED.</p>
            </div>
	    </div>
</body>
<script src='../../../Domina/scripts/jquery-3.2.1.min.js'></script>
<script src='../scripts/menu.js'></script>
<script src='../scripts/gallery.js'></script>
<script>
    var m1 = new navigation('#menu1');
    var g1 = new gallery('#portfolio');
</script>
</html>
